    <html>
<head>
    <title>Quản lý danh sách người dùng</title>
    {{#section 'css'}}
        <link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/assests/font-awesome-4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="/CSS/style.css">
        <link rel="stylesheet" type="text/css" href="/CSS/home.css"/>
    {{/section}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

 <script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>

</head>

<body id="" class="cms-index-index cms-home-page">
<form method="post" action="taikhoan/resetmatkhau" id="formreset">
    <input type="hidden" name="idUSER" id="txtMatkhauId">
</form>
<form method="post" action="taikhoan/chanuser" id="formchan">
    <input type="hidden" name="idUSER" id="txtchanId">
</form>
<form method="post" action="taikhoan/bochanuser" id="formbochan">
    <input type="hidden" name="idUSER" id="txtbochanId">
</form>
<div class="brd">
    <div class="container">
        <div class="row">
            <div class="inner">
                <ul class="breadcrumbs">
                    <li class="home"> <a title="Quay lại trang chủ" href="/">Trang chủ</a></li>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <li> <span>Quản lý danh sách người dùng</span></li>


                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
<div class="row">
    <h3 class="fw_600 txt_u" style="font-weight: bold;margin-left: 20px;font-size:18px;font-family: Arial">QUẢN LÝ DANH SÁCH NGƯỜI DÙNG </h3>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <table class="table table-bordered table-hover">
            <thead style="background: #6ed430;color: black;">
                <tr>
                    <th>Tên tài khoản</th>
                    <th>Họ và tên</th>
                    <th>Email</th>
                    <th>Số điện thoại</th>
                    <th>Địa chỉ</th>
                    <td>Chức năng</td>
                </tr>
            </thead>
            <tbody>
            {{#each nguoidung}}
                <tr>
                    <td>{{tendangnhap}}</td>
                    <td>{{hoten}}</td>
                    <td>{{email}}</td>
                    <td>{{sodienthoai}}</td>
                    <td>{{diachi}}</td>
                    <td>
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                        <a href="javascript:;" class="btn btn-info khoiphucmatkhau" data-id="{{idUSER}}" title="Khôi phục mật khẩu"><span class="glyphicon glyphicon-refresh"></span></a>
                    &nbsp
                        {{#if chan}}
                            <a href="javascript:;" class="btn btn-info bochannguoidung" data-id="{{idUSER}}" title="Bỏ Chặn"><span class="glyphicon glyphicon-retweet"></span></a>
                        {{else}}
                            <a href="javascript:;" class="btn btn-info channguoidung" data-id="{{idUSER}}" title="Chặn"><span class="glyphicon glyphicon-ban-circle"></span></a>
                        {{/if}}
                    </td>

                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
    
</div>
    <script type="text/javascript" src="/JS/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/JS/common.js"></script>
    <script type="text/javascript" src="/JS/js_custome.js"></script>
    <script type="text/javascript" src="/JS/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#showmenu').click(function() {
                $('#menucontentother').slideToggle('300');
                return false;
            });
        });
        $(".nav-drop").mouseenter(function() {
            $("#menucontentother").show();
        }).mouseleave(function() {
            $("#menucontentother").hide();
        });

    </script>
<script type="text/javascript">
    $('.khoiphucmatkhau').on('click', function() {
        var id = $(this).data('id');
        $('#txtMatkhauId').val(id);
        $('#formreset').submit();
    });
</script>

<script type="text/javascript">
    $('.channguoidung').on('click', function() {
        var id = $(this).data('id');
        $('#txtchanId').val(id);
        $('#formchan').submit();
    });
</script>
<script type="text/javascript">
    $('.bochannguoidung').on('click', function() {
        var id = $(this).data('id');
        $('#txtbochanId').val(id);
        $('#formbochan').submit();
    });
</script>
</body>
</html>