<html>
<head>
    <title>Nhóm sản phẩm loại 2</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {{#section 'css'}}

    <link rel="stylesheet" type="text/css" href="/assests/bootstrap-3.3.7-dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assests/font-awesome-4.7.0/css/font-awesome.min.css"/>

    <link rel="stylesheet" type="text/css" href="/CSS/popup_cart_desktop.css">
    <link rel="stylesheet" type="text/css" href="/CSS/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/CSS/owl.theme.min.css">
    <link rel="stylesheet" type="text/css" href="/CSS/css.css">
    <link rel="stylesheet" type="text/css" href="/CSS/jgrowl.css">
    <link rel="stylesheet" type="text/css" href="/CSS/style.css">
    <link rel="stylesheet" type="text/css" href="/CSS/home.css">
    <link rel="stylesheet" type="text/css" href="/CSS/nhomsanpham.css"/>
    {{/section}}



</head>

<body id="dien-thoai-1 home" class="cms-index-index cms-home-page">

    <div class="brd">
        <div class="container">
            <div class="row">
                <div class="inner">
                    <ul class="breadcrumbs">
                        <li class="home"> <a title="Quay lại trang chủ" href="/">Trang chủ</a></li>

                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        {{#each nameBac1}}
                            <li><a href="/sanphamloai1/{{idLOAISANPHAM1}}">{{tensanpham}}</a></li>
                        {{/each}}

                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        {{#each nameBac2}}
                        <li><a href="#">{{tensanpham}}</a></li>
                        {{/each}}

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="main-collection collection-list">
        <div class="container">
            <div class="row _collection">
                <aside id="collection_boloc" class="col-lg-3 col-md-12 sider_bar_col col-collection-best">
                    <div class="col-lg-12 col-md-12 product_select">
                        <div class="block-title block">
                            <h5>
                                <span>Danh mục</span>
                                {{#each nameBac2}}
                                    <span>{{tensanpham}}</span>
                                {{/each}}
                            </h5>
                        </div>
                    </div>
                    <div id="boloc_mobile" class="filter-container">
                        <div class="filter-container__selected-filter" style="display: none;">
                            <div class="filter-container__selected-filter-header clearfix">
                                <span class="filter-container__selected-filter-header-title"></i> Bạn chọn</span>
                                <a href="javascript:void(0)" onclick="clearAllFiltered()" class="filter-container__clear-all">Bỏ hết <i class="fa fa-angle-right"></i></a>
                            </div>
                            <div class="filter-container__selected-filter-list">
                                <ul></ul>
                            </div>
                        </div>
                        <!--HangSX-->

                        <div class="filter-group">
                            <div class="filter-group-title filter-group-title--green" data-toggle="collapse" data-parent="#accordion" data-target="#collapse1">
                                Chọn danh mục
                            </div>
                            <ul class="panel-collapse collapse product" id="collapse1">
                                {{#each nameBac3}}
                                    <li class="filter-item filter-item--green col-lg-12 col-md-12 col-sm-12 col-xs-12 filter-vendor" >
                                        <a href="/sanphamloai1/sanphamloai2/sanphamloai3/{{idLOAISP3}}">{{tensanpham}} ({{soLuongSanPham}})</a>
                                    </li>
                                {{/each}}



                            </ul>
                        </div>



                        <!--KhoangGia-->

                        <div class="filter-group">
                            <div class="filter-group-title filter-group-title--green" data-toggle="collapse" data-parent="#accordion" data-target="#collapse3">
                                Chọn mức giá
                            </div>
                            <ul class="panel-collapse collapse" id="collapse2">
                                <li class="filter-item filter-item--check-box filter-item--green">
                                    <a href="javascript:void(0)">
                                        <label for="filter-duoi-200-000d">
                                            <input type="checkbox" id="filter-duoi-200-000d" onchange="toggleFilter(this)" data-group="Khoảng giá" data-field="price_min" data-text="Dưới 200.000đ" value="(<200000)" data-operator="OR">
                                            <i class="fa"></i>
                                            Dưới 200.000đ
                                        </label>
                                    </a>
                                </li>
                                <li class="filter-item filter-item--check-box filter-item--green">
                                    <a href="javascript:void(0)">
                                        <label for="filter-tu-200-000-den-500-000">
                                            <input type="checkbox" id="filter-tu-200-000-den-500-000" onchange="toggleFilter(this)" data-group="Khoảng giá" data-field="price_min" data-text="Từ 200.000 đến 500.000" value="(>200000 AND <500000)" data-operator="OR">
                                            <i class="fa"></i>
                                            Từ 200.000 đến 500.000
                                        </label>
                                    </a>
                                </li>
                                <li class="filter-item filter-item--check-box filter-item--green">
                                    <a href="javascript:void(0)">
                                        <label for="filter-tu-500-000-den-1-000-000">
                                            <input type="checkbox" id="filter-tu-500-000-den-1-000-000" onchange="toggleFilter(this)" data-group="Khoảng giá" data-field="price_min" data-text="Từ 500.000 đến 1.000.000" value="(>500000 AND <1000000)" data-operator="OR">
                                            <i class="fa"></i>
                                            Từ 500.000 đến 1.000.000
                                        </label>
                                    </a>
                                </li>
                                <li class="filter-item filter-item--check-box filter-item--green">
                                    <a href="javascript:void(0)">
                                        <label for="filter-tu-1-000-000-den-2-000-000">
                                            <input type="checkbox" id="filter-tu-1-000-000-den-2-000-000" onchange="toggleFilter(this)" data-group="Khoảng giá" data-field="price_min" data-text="Từ 1.000.000 đến 2.000.000" value="(>1000000 AND <2000000)" data-operator="OR">
                                            <i class="fa"></i>
                                            Từ 1.000.000 đến 2.000.000
                                        </label>
                                    </a>
                                </li>
                                <li class="filter-item filter-item--check-box filter-item--green">
                                    <a href="javascript:void(0)">
                                        <label for="filter-tu-2-000-000-den-3-000-000">
                                            <input type="checkbox" id="filter-tu-2-000-000-den-3-000-000" onchange="toggleFilter(this)" data-group="Khoảng giá" data-field="price_min" data-text="Từ 2.000.000 đến 3.000.000" value="(>2000000 AND <3000000)" data-operator="OR">
                                            <i class="fa"></i>
                                            Từ 2.000.000 đến 3.000.000
                                        </label>
                                    </a>
                                </li>
                                <li class="filter-item filter-item--check-box filter-item--green">
                                    <a href="javascript:void(0)">
                                        <label for="filter-tu-3-000-000-den-4-000-000">
                                            <input type="checkbox" id="filter-tu-3-000-000-den-4-000-000" onchange="toggleFilter(this)" data-group="Khoảng giá" data-field="price_min" data-text="Từ 3.000.000 đến 4.000.000" value="(>3000000 AND <4000000)" data-operator="OR">
                                            <i class="fa"></i>
                                            Từ 3.000.000 đến 4.000.000
                                        </label>
                                    </a>
                                </li>
                                <li class="filter-item filter-item--check-box filter-item--green">
                                    <a href="javascript:void(0)">
                                        <label for="filter-tu-4-000-000-den-5-000-000">
                                            <input type="checkbox" id="filter-tu-4-000-000-den-5-000-000" onchange="toggleFilter(this)" data-group="Khoảng giá" data-field="price_min" data-text="Từ 4.000.000 đến 5.000.000" value="(>4000000 AND <5000000)" data-operator="OR">
                                            <i class="fa"></i>
                                            Từ 4.000.000 đến 5.000.000
                                        </label>
                                    </a>
                                </li>

                                <li class="filter-item filter-item--check-box filter-item--green">
                                    <a href="javascript:void(0)">
                                        <label for="filter-tu-5-000-000-den-10-000-000">
                                            <input type="checkbox" id="filter-tu-5-000-000-den-10-000-000" onchange="toggleFilter(this)" data-group="Khoảng giá" data-field="price_min" data-text="Từ 5.000.000 đến 10.000.000" value="(>5000000 AND <10000000)" data-operator="OR">
                                            <i class="fa"></i>
                                            Từ 5.000.000 đến 10.000.000
                                        </label>
                                    </a>
                                </li>
                                <li class="filter-item filter-item--check-box filter-item--green">
                                    <a href="javascript:void(0)">
                                        <label for="filter-tren-10-000-000">
                                            <input type="checkbox" id="filter-tren-10-000-000" onchange="toggleFilter(this)" data-group="Khoảng giá" data-field="price_min" data-text="Trên 10.000.000" value="(>10000000)" data-operator="OR">
                                            <i class="fa"></i>
                                            Trên 10.000.000
                                        </label>
                                    </a>
                                </li>
                            </ul>
                        </div>


                        <!--Tinhtrang-->

                        <div class="filter-group">
                            <div class="filter-group-title filter-group-title--green" data-toggle="collapse" data-parent="#accordion" data-target="#collapse4">
                                Tình trạng
                            </div>
                            <ul class="panel-collapse collapse" id="collapse3">



                                <li class="filter-item filter-item--check-box filter-item--green col-lg-12 col-md-6 col-sm-6 col-xs-12 filter-vendor">
                                    <a href="javascript:void(0)">
                                        <label for="filter-moi">
                                            <input type="checkbox" id="filter-moi" onchange="toggleFilter(this)"  data-group="Tình trạng" data-field="product_status" data-text="Mới" value="(Mới)" data-operator="OR">
                                            <i class="fa"></i>
                                            Mới
                                        </label>
                                    </a>
                                </li>
                                <li class="filter-item filter-item--check-box filter-item--green col-lg-12 col-md-6 col-sm-6 col-xs-12 filter-vendor">
                                    <a href="javascript:void(0)">
                                        <label for="filter-chua-su-dung">
                                            <input type="checkbox" id="filter-chua-su-dung" onchange="toggleFilter(this)"  data-group="Tình trạng" data-field="product_status" data-text="Chưa sử dụng" value="(Chưa sử dụng)" data-operator="OR">
                                            <i class="fa"></i>
                                            Chưa sử dụng
                                        </label>
                                    </a>
                                </li>
                                <li class="filter-item filter-item--check-box filter-item--green col-lg-12 col-md-6 col-sm-6 col-xs-12 filter-vendor">
                                    <a href="javascript:void(0)">
                                        <label for="filter-da-su-dung">
                                            <input type="checkbox" id="filter-da-su-dung" onchange="toggleFilter(this)"  data-group="Tình trạng" data-field="product_status" data-text="Đã sử dụng" value="(Đã sử dụng)" data-operator="OR">
                                            <i class="fa"></i>
                                            Đã sử dụng
                                        </label>
                                    </a>
                                </li>
                                <li class="filter-item filter-item--check-box filter-item--green col-lg-12 col-md-6 col-sm-6 col-xs-12 filter-vendor">
                                    <a href="javascript:void(0)">
                                        <label for="filter-sua-chua">
                                            <input type="checkbox" id="filter-sua-chua" onchange="toggleFilter(this)"  data-group="Tình trạng" data-field="product_status" data-text="Đã sửa chữa" value="(Đã sửa chữa)" data-operator="OR">
                                            <i class="fa"></i>
                                            Đã qua sửa chữa
                                        </label>
                                    </a>
                                </li>
                                <li class="filter-item filter-item--check-box filter-item--green col-lg-12 col-md-6 col-sm-6 col-xs-12 filter-vendor">
                                    <a href="javascript:void(0)">
                                        <label for="filter-hu-mot-phan">
                                            <input type="checkbox" id="filter-hu-mot-phan" onchange="toggleFilter(this)"  data-group="Tình trạng" data-field="product_status" data-text="Đã hư một phần" value="(Đã hư một phần)" data-operator="OR">
                                            <i class="fa"></i>
                                            Đã hư một phần
                                        </label>
                                    </a>
                                </li>


                            </ul>
                        </div>
                    </div>

                </aside>
    {{#if isEmpty }}
            Không có sản phẩm!
    {{else}}
            <form id="frm1" method="post" action="">
                <a href="javascript:{}" onclick="document.getElementById('frm1').submit();" class="themvaomucyeuthich"style="display:scroll; text-align:center; position:fixed;margin-left: 900px;color: blue " title="Lưu và xem sản phẩm yêu thích" data-toggle="modal">
                    <span style="line-height: 2">Lưu và xem <br/>sản phẩm yêu thích</span>
                    <img src="/Images/add.png" >
                </a>
                <section class="col-lg-9 col-md-12 article content-list">

                    <div class="col-lg-12 col-md-12 collection_container list-items">
                        <table width="100%" style="line-height: normal">
                            <tbody>
                                <tr >
                                    <th colspan="2">Mô tả sản phẩm</th>
                                    <th> Giá cao nhất </th>
                                    <th> Giá quyết định</th>
                                    <th> Số lượng đấu giá</th>
                                    <th> Thời gian còn lại</th>
                                </tr>
                                {{#each productsBac2}}
                                    <tr id="daugia{{idSANPHAM}}" class="daugia">
                                        <td class="mota" style="width:10%; text-align: center">
                                            <a href="/sanphamloai1/detail/{{idSANPHAM}}" title="{{tensanpham4}}">
                                                <img src="{{hinhanh2}}" alt="{{tensanpham4}}">
                                            </a>
                                        </td>
                                        <td class="mota" width="30%" style="padding-left: 10px">
                                            <div class="item_loop_list_title fs15">
                                                <h3 class="fw_600"><a href="/sanphamloai1/detail/{{idSANPHAM}}" title="{{tensanpham4}}">{{tensanpham4}} </a></h3>
                                            </div>
                                            <div class="product-seller">
                                                <p> Người bán:
                                                    <a href="#">{{hoten}}</a>
                                                </p>
                                            </div>
                                            <div class="product-sub" title="{{motasanphamngangon}}">
                                                <p> Mô tả:{{motasanphamngangon}}</p>
                                            </div>
                                        </td>
                                        <td> {{number_format1 tienmax}}</td>
                                        <td> <span> {{number_format1 giamualien}} </span></td>
                                        <td> {{soluotdaugia}} </td>
                                        <td>
                                            <div class="time daugia{{idSANPHAM}}"  style="color: red; margin-top: 8px; margin-right: -7px" value="{{thoigiankethuc}}">
                                            </div>
                                            <div class="checkbox">
                                                <input class="checked" id="check{{idSANPHAM}}" type="checkbox" name="sanphamyeuthich" value="check{{idSANPHAM}}">
                                                <label for="check{{idSANPHAM}}"> <span title="Lưu sản phẩm yêu thích" class="glyphicon glyphicon-star"></span></label>
                                            </div>
                                            <p class="btn_see">
                                                <a href="/sanphamloai1/detail/{{idSANPHAM}}" title="Xem chi tiết sản phẩm">
                                                    <span class="glyphicon glyphicon-gift" aria-hidden="true"></span>
                                                    Xem chi tiết</a>
                                            </p>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6" class="border-under">
                                        </td>
                                    </tr>
                                {{/each}}


                            </tbody>
                        </table>
                    </div>
                    <div class="col-lg-12 col-md-12 menu">
                        <ul class="pagination">
                            {{#if showPrevPage}}
                                <li>
                                    <a href="?page={{prevPage}}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {{/if}}
                            {{#each pages }}
                                {{#if isActive }}
                                    <li class="active">
                                        <a href="?page={{pageValue}}">{{pageValue}}</a>
                                    </li>
                                {{else}}
                                    <li>
                                        <a href="?page={{pageValue}}">{{pageValue}}</a>
                                    </li>
                                {{/if}}
                            {{/each}}
                            {{#if showNextPage }}
                                <li>
                                    <a href="?page={{nextPage}}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {{/if}}
                        </ul>
                    </div>

                </section>
            </form>
{{/if}}

            </div>
        </div>
    </section>
    {{#each sanphamyeuthich}}
        <div class="hidden sanphamyeuthich" value="{{idsanpham}}">

        </div>
    {{/each}}








    <script type="text/javascript" src="/assests/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/assests/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/JS/search_filter.js"></script>

    <script>
        $(document).ready(function() {
            $('#showmenu').click(function() {
                $('#menucontentother').slideToggle('300');
                return false;
            });
        });
        $(".nav-drop").mouseenter(function() {
            $("#menucontentother").show();
        }).mouseleave(function() {
            $("#menucontentother").hide();
        });

    </script>
    <script>
        $('.product-sub p').each(function()
        {
            if($.trim($(this).text()).length > 73)
            {
                var x = $.trim($(this).text());
                x = x.slice(0, 73) + "...";
                $.trim($(this).text(x));
            }

        });
    </script>
    <script>
        $('.time','.daugia').each(function(){
            var m = $(this).attr('class').slice(5, $(this).attr('class').length);

            var n = $(this).parents('.daugia').attr('id');
            if(m === n)
            {

                var timeFinish = $(this).attr('value');
                if(timeFinish == "null")
                {
                    $('.time.'+m).html("HẾT HẠN");
                    return;

                }

                var calcNewYear = setInterval(function(){

                    date_future = new Date(timeFinish);
                    date_now = new Date();
                    seconds = Math.floor((date_future - (date_now))/1000);
                    minutes = Math.floor(seconds/60);
                    hours = Math.floor(minutes/60);
                    days = Math.floor(hours/24);
                    hours = hours-(days*24);
                    minutes = minutes-(days*24*60)-(hours*60);
                    seconds = seconds-(days*24*60*60)-(hours*60*60)-(minutes*60)
                    if(days < 0)
                    {

                    }

                    $('.time.'+m).html((days) + " ngày " + '<br>' + checkTime(hours) + ":" + checkTime(minutes) + ":" + checkTime(seconds));
                },1000);
            }
            function checkTime(i)
            {
                if (i < 10) {
                    i = "0" + i;
                }
                return i;
            }
        });
    </script>
    <script>
        var sanpham = [];
        $('.hidden.sanphamyeuthich').each(function()
        {

            sanpham.push($(this).attr('value'));
        });

        $('.checkbox .checked').each(function()
        {

            var x = $(this).attr('value').slice(5, $(this).attr('value').length);
            for(var i = 0; i < sanpham.length; i++)
            {
                if( x === sanpham[i])
                {
                    var y = $(this).attr('id');
                    $('#'+y).prop('checked', true);

                }
            }
        });

    </script>
    <script>
        $(".themvaomucyeuthich").hide();
        $(".checked").click(function() {
            if($(".collection_container.list-items input[type=checkbox]:checked").length > 0)
            {
                $(".themvaomucyeuthich").show(300);
            }

            else
                $(".themvaomucyeuthich").hide(200);
        });
    </script>
    <!--<script>-->
        <!--var selectedSortby;-->
        <!--var tt = 'Thứ tự';-->
        <!--var selectedViewData = "data_list";-->
        <!--var filter = new Bizweb.SearchFilter()-->

        <!--filter.addValue("collection", "collections", "637059", "AND");-->

        <!--function toggleFilter(e) {-->
            <!--_toggleFilter(e);-->
            <!--renderFilterdItems();-->
            <!--doSearch(1);-->

        <!--}-->

        <!--function _toggleFilter(e) {-->
            <!--var $element = $(e);-->
            <!--var group = $element.attr("data-group");-->
            <!--var field = $element.attr("data-field");-->
            <!--var text = $element.attr("data-text");-->
            <!--var value = $element.attr("value");-->
            <!--var operator = $element.attr("data-operator");-->
            <!--var filterItemId = $element.attr("id");-->

            <!--if (!$element.is(':checked')) {-->
                <!--filter.deleteValue(group, field, value, operator);-->
            <!--}-->
            <!--else{-->
                <!--filter.addValue(group, field, value, operator);-->
            <!--}-->

            <!--$(".catalog_filters li[data-handle='" + filterItemId + "']").toggleClass("active");-->
        <!--}-->

        <!--function renderFilterdItems() {-->
            <!--var $container = $(".filter-container__selected-filter-list ul");-->
            <!--$container.html("");-->

            <!--$(".filter-container input[type=checkbox]").each(function(index) {-->
                <!--if ($(this).is(':checked')) {-->
                    <!--var id = $(this).attr("id");-->
                    <!--var name = $(this).closest("label").text();-->

                    <!--addFilteredItem(name, id);-->
                <!--}-->
            <!--});-->

            <!--if($(".filter-container input[type=checkbox]:checked").length > 0)-->
                <!--$(".filter-container__selected-filter").show();-->
            <!--else-->
                <!--$(".filter-container__selected-filter").hide();-->
        <!--}-->

        <!--function addFilteredItem(name, id) {-->
            <!--var filteredItemTemplate = "<li class='filter-container__selected-filter-item' for='{3}'><a href='javascript:void(0)' onclick=\"{0}\"><i class='fa fa-close'></i> {1}</a></li>";-->
            <!--filteredItemTemplate = filteredItemTemplate.replace("{0}", "removeFilteredItem('" + id + "')");-->
            <!--filteredItemTemplate = filteredItemTemplate.replace("{1}", name);-->
            <!--filteredItemTemplate = filteredItemTemplate.replace("{3}", id);-->
            <!--var $container = $(".filter-container__selected-filter-list ul");-->
            <!--$container.append(filteredItemTemplate);-->
        <!--}-->

        <!--function removeFilteredItem(id) {-->
            <!--$(".filter-container #" + id).trigger("click");-->
        <!--}-->

        <!--function clearAllFiltered() {-->



            <!--$(".filter-container__selected-filter-list ul").html("");-->
            <!--$(".filter-container input[type=checkbox]").prop('checked', false);-->
            <!--$(".filter-container__selected-filter").hide();-->

            <!--doSearch(1);-->
        <!--}-->




    <!--</script>-->




</body>
</html>