<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>
<p style="font-size: 30px;color: #843534">4P1Q Trang Đấu giá uy tín nhất</p>
<p>Chức mừng bạn đã đấu giá thành công sản phẩm {{tensanpham}}</p>
<p>Người bán : {{tennguoiban}}</p>
<p>Số điện thoại : {{sodienthoai}}</p>
<p><img src="{{hinhanh1}}"/>
    <img src="{{hinhanh2}}"/>
    <img src="{{hinhanh3}}"/>
</p>
Bạn sẽ mua sản phẩm với giá : {{sotien}} VNĐ
<p> Cám ơn các bạn đã sử dụng dịch vụ của chúng tôi</p>
</body>
</html>
